{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-unused-vars": "off",
    "allowArrowFunctions": true
  },
  "plugins": ["prettier"],
  "extends": ["airbnb", "plugin:node/recommended"]
}
